<mat-progress-bar *ngIf="messageSent" mode="indeterminate"></mat-progress-bar>
        
<div class="chat-container">
    <div class="chat-header">
        <div class="circle-image" [matTooltip]="userEmail!"></div>
        <h1 class="app-title">Ollaroo</h1>
        <button mat-button color="primary" matTooltip="Navigate to documents" [disabled]="messageSent" class="togoDocs-button" type="button" (click)="gotoDocuments()" [ngStyle]="screenAvailWidth | alignDocsButton">
            <mat-icon class="file-icon">book</mat-icon>
        </button>
        <button type="button" mat-button matTooltip="Upload PDF" class="pdffileupload-button" [disabled]="messageSent" [ngStyle]="screenAvailWidth | alignUploadButton" color="primary" 
            (click)="pdfUpload.click()" [disabled]="messageSent">
            <mat-icon class="file-icon">description</mat-icon>
        </button>
        <input hidden type="file" class="file-input" accept="application/pdf" (change)="onPDFFileSelected($event)" #pdfUpload>
        <button mat-button color="primary" matTooltip="Donate" class="musicsend-button" type="button" [disabled]="messageSent" (click)="donate()" [ngStyle]="screenAvailWidth | alignSendMusicButton">
            <mat-icon class="file-icon">currency_bitcoin</mat-icon>
        </button>
        <button mat-button color="primary" matTooltip="Logout" class="logout-button" type="button" [disabled]="messageSent" (click)="logout()" [ngStyle]="screenAvailWidth | alignLogoutButton">
            <mat-icon class="file-icon">logout</mat-icon>
        </button>
    </div>
    
    <!-- <div class="center">
        <mat-spinner *ngIf="messageSent" mode="indeterminate" color="warn"></mat-spinner>
    </div> -->

    <div #userMessages class="scrollable-y">
        <div  class="chat-messages" *ngFor="let message of messages">
            <span>{{ message.sender }} - {{messageNow | date:'medium'}} - {{message.elapsed}}</span>
                <div *ngIf="message.type==='msg'" class="ollama-wrap" matTooltip="{{ message.text }}" [innerHtml]=message.text></div>
                <br>
                <img *ngIf="message.type==='img'" [src]="message.text" (click)="openImage(message.text)" width="200" height="200">
                <br>
                <a *ngIf="message.type==='pdf'" [href]="pdfUrl" >"{{ message.text }}"</a>
                <br>
                <div *ngIf="message.type==='audio'">Here is your song title <b>{{message.title!}}</b>. 'Click Play' to enjoy. Here is the <a style="cursor: pointer;" (click)="openLyricsDialog(message.lyrics)"><b>lyrics</b></a></div>
                <img *ngIf="message.type==='audio'" [src]="message.image_url!" (click)="openImage(message.image_url!)" width="50" height="50"><audio *ngIf="message.type==='audio'" controls src="{{ message.text }}"></audio>
        </div>
        <div *ngIf="!isMobileView" (window:resize)="onResize($event)" class="prompt-box-container">
            <div class="prompt-box">        
                <ul *ngFor="let promptItem of (promptItemLists$ | async) let i = index;" >
                    <li *ngIf="i < 6" style="cursor: pointer;" matTooltip="{{ promptItem.prompt }}"><a (click)="populatePromptMsg(promptItem.prompt)">{{promptItem.prompt | slice:0:50}}...</a></li>
                </ul>
                <button mat-button color="primary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                <button mat-button color="primary" (click)="nextPage()" [disabled]="currentPage === totalPages || (currentPage ==1 && totalPages ==0)">Next</button>
                <button mat-button color="primary" matTooltip="clear history"  type="button" (click)="clearHistory()">
                    Clear history
                </button>
            </div>
            <br>
          </div>
        <div >
    
    <div class="chat-input">
        <form [formGroup]="messageForm" #formDirective="ngForm" id="messageForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput id="messageInput" formControlName="text" autocomplete="off" placeholder="Type a message here..">
                <mat-error *ngIf="messageForm?.get('text')?.invalid">Message is required</mat-error>
                <button mat-button color="primary" matSuffix matTooltip="Send message" class="send-button" (click)="openSendMsgBottomSheet()" [disabled]="messageSent">
                    <mat-icon>send</mat-icon>
                </button>
                <button type="button" mat-button matSuffix matTooltip="Upload image" class="fileupload-button" color="primary" 
                    (click)="fileUpload.click()" [disabled]="messageSent" >
                    <mat-icon>file_copy</mat-icon>
                </button>
                <input hidden type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept="image/png, image/jpeg">
            </mat-form-field>
        </form>
    </div>

</div>