.chat-card {
    max-width: 400px;
    margin-bottom: 8px;
}

.mat-card-content{
    word-wrap: break-word;
}

mat-grid-tile {
    background: white;
}

.example-list-wrapping {
    max-width: 500px;
  }

.example-list-wrapping .mat-list-item {
    white-space: normal;
    word-wrap: break-word;
    height: auto;
}

.chat-container {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.chat-header {
    text-align: center;
    padding: 5px;
    background: rgb(113, 40, 230);
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.app-title {
    color: white;
    margin: 1;
}

.chat-messages {
    left: 5%;
    padding: 10px;
}

.scrollable-y {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 70%;
    max-height: 100%;
    height: 400px; 
    resize: both; 
    box-sizing: border-box;
}

.scrollable-y > * {
    flex-shrink: 0;
}

.chat-input {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: white;
    
}

#messageInput {
    width: 90%;
    padding: 5px;
}

#messageForm button {
    width: 11%;
    padding: 5px;
    margin-left: 1%;
}

.example-full-width {
    width: 100%;
    padding: 5px;
}

.send-button {
    position: absolute;
    right: 120px;
    top: 40%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: white;
  }

  .fileupload-button {
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fileupload-button:hover {
    background-color: white;
  }

  .pdffileupload-button {
    background: rgb(113, 40, 230);
    position: absolute;
    margin-left: auto;
    right: 30px;
    top: 4%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: rgb(113, 40, 230);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .pdfsend-button {
    background: rgb(113, 40, 230);
    position: absolute;
    margin-left: auto;
    right: 80px;
    top: 4%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: rgb(113, 40, 230);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .musicsend-button {
    background: rgb(113, 40, 230);
    position: absolute;
    margin-left: auto;
    right: 130px;
    top: 4%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: rgb(113, 40, 230);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .logout-button {
    background: rgb(113, 40, 230);
    position: absolute;
    margin-left: auto;
    right: 170px;
    top: 4%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: rgb(113, 40, 230);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pdffileupload-button:hover {
    background-color: rgb(113, 40, 230);
  }

  .circle-image {
    height:30pt;
    width:30pt;
    float: left;
    border-radius: 50%;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url('../../assets/profile.png');
    box-shadow: 0px 1px 3px rgba(248, 247, 247, 0.918);
    box-sizing: border-box;
  }

.file-icon {
    color: white; /* Set the icon color to black */
}

.buttons-grid {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.ollama-wrap {
    border-radius: 6px;
    background-color: aliceblue;
    border: 2px dashed gray;
    max-width: 70%;
    padding: 1em;
    margin-bottom: .4em;
}

.prompt-box-container {
    display: flex;
    justify-content: flex-end; /* Align the box to the right */
    padding: 10px;
    top: 10%;
    position: fixed;
    height: 500px;
    right: 0;                /* Align to the right */
    padding: 10px;           /* Add some padding around the box */
    z-index: 1000;           /* Ensure it's on top of other elements */
}

.prompt-box {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;             /* Padding inside the box */
    border: 1px solid #ccc;     /* Border around the box */
    border-radius: 8px;         /* Rounded corners */
    width: 200px;       /* Fixed width (you can adjust) */             
}
  