/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
    background-color: #f0f0f0;  /* Set your desired color */
    background-image: url('assets/background-image.jpg'); /* Optional: background image */
    background-size: cover;  /* Ensure the background covers the entire viewport */
    background-repeat: no-repeat;  /* Prevent repeating the image */
    background-attachment: fixed;  
}
